{% extends "tools/Classification/views/Base.html" %}
{% block content %}
<h2>Available Classifiers</h2>
<div class="container">


    <h2>Mango Upload Method</h2>
    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <img class="img-thumbnail" src="{{ uploaded_file_url }}" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <h4>Score For Learning By Different Techniques</h4>
            <table class="table table-condensed">
                <tr>
                    <td></td>
                    <th>Score for Breed Type</th>
                    <th>Score for Condition</th>
                </tr>
                <tr>
                    <td>SVM</td>
                    <td>{{ svm }}</td>
                    <td>{{ tsvm }}</td>
                </tr>
                <tr>
                    <td>Decision Tree</td>
                    <td>{{ des }}</td>
                    <td>{{ tdes }}</td>
                </tr>
                <tr>
                    <td>Perceptron</td>
                    <td>{{ pes }}</td>
                    <td>{{ tpes }}</td>
                </tr>
            </table>
            <h4>Results</h4>
            <table class="table table-condensed">
                <tr>
                    <Th>Name</Th>
                    <th>Result</th>
                </tr>
                <Tr>
                    <th>SVM</th>
                    <td>{{ svml.0 }}</td>
                </Tr>

                <Tr>
                    <th>Decision Tree</th>
                    <td>{{ desl.0 }}</td>
                </Tr>

                <Tr>
                    <th>Perceptron</th>
                    <td>{{ pesl.0 }}</td>
                </Tr>
            </table>
        </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
            <h4>CNN Based Classification</h4>
            <table class="table table-condensed">
                {% for key,value in cnnpredict.items %}
                <Tr>
                    <Th width="200">{{ key }} - {{ value }} %</Th>

                    <Td>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: {{value}}%;" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
                        </div>
                    </Td>
                </Tr>
                {% endfor %}

            </table>
           <h4>Breed Type</h4>
             <table class="table table-condensed">
                <tr>
                    <Th>Name</Th>
                    <th>Score</th>
                </tr>
                <Tr>
                    <th>SVM</th>
                    <td>{{ tsvml.0 }}</td>
                </Tr>

                <Tr>
                    <th>Decision Tree</th>
                    <td>{{ tdesl.0 }}</td>
                </Tr>

                <Tr>
                    <th>Perceptron</th>
                    <td>{{ tpesl.0 }}</td>
                </Tr>
            </table>


        </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Statstics</h4>
            <table class="table table-condensed">
                <tr>
                    <th>Channel A Average</th>
                    <Td>{{ channela }}</Td>
                </tr>
                <tr>
                    <th>Channel B Average</th>
                    <td>{{ channelb }}</td>
                </tr>
                <tr>
                    <th>ChainCode </th>
                    <td>{{ chaincode }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Mango Image</label>
            <input type="file" name="classificationupload" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Upload" />
        </div>
    </form>
</div>

{% endblock %}