<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification</title>
    {% load static %}
    <link href="{% static 'CSS/bootstrap.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Classifier</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">List of Tools</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tools</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tools/Classification/">Classification</a>
            <a class="dropdown-item" href="#">DateTime</a>
            <a class="dropdown-item" href="#">Canvas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Comming Soon</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  </header>
  <article style="padding-top:20px;">
    <div id="content" class="container-fluid">
          {% block content %}{% endblock %}
    </div>
  </article>
  <footer style="padding-top:20px; padding-left:20px;">
    <h6>Copyright by &copy; YASH RANA 2019</h6>
  </footer>
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>